.NewsListInner {
	margin-bottom : 20px;
	position : relative;
	// padding-left : 36px;
	@media(max-width:799px) {
		padding-left : 0;
	}
	&:last-of-type {
		margin-bottom : 0;
	}
	a {
		display : inline;
		width: 100%;
		float: none;
		z-index : -1;
		font-size: initial;
		&:hover .BlogListThumb img {
			opacity : 0.7;
		}
	}
	.NewsListTitle {
		display: inline;
		font-size: 20px;
		font-weight: 500;
	}
	.NewsListInfo {
		display: flex;
    	align-items: center;
		.NewsListNew {
			@extend %newmark;
			position : static;
			z-index : 10;
			display: inline-block;
			margin-right: 12px;
			position: static;
			@media(max-width:799px) {
				left : 80px;
			}
		}
		.NewsListDate {
			display: inline-block;
			font-size: 14px;
		}
	}

}

.BlogListInner {
	margin-bottom : 20px;
	position : relative;
	&:last-of-type {
		margin-bottom : 0;
	}
	.BlogListNew {
		@extend %newmark;
		position : absolute;
		top : 8px;
		left : 8px;
		z-index : 10;
	}
	a {
		display : block;
		z-index : -1;
		&:hover .BlogListThumb img {
			opacity : 0.7;
		}
	}
	.BlogListThumb {
		width : 25%;
		float : left;
		@media(max-width:799px) {
			width : 100%;
			float : none;
			margin-bottom : 12px;
		}
		img {
			width : 100%;
			-webkit-transition: all 0.35s ease;
			transition: all 0.35s ease;
		}
	}
	.BlogListTxt {
		width : 72%;
		float : right;
		@media(max-width:799px) {
			width : 100%;
			float : none;
		}
	}
	&.no_thumb {
		.BlogListInfo {
			display: flex;
			align-items: center;
			.BlogListNew {
				display: inline-block;
				margin-right: 12px;
				position: static;
			}
			.BlogListDate {
				display: inline-block;
				font-size: 14px;
			}
		}
		a {
			display: inline;
			width: 100%;
			float: none;
			font-size: initial;
			.BlogListTitle {
				display: inline;
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
}

.BlogBody {
	.BlogMain {
		width : 75%;
		float : left;
		@media(max-width:799px) {
			width : 100%;
			float : none;
			margin-bottom : 60px;
		}
		.BlogBodyHeader {
			// padding-bottom : 32px;
			// border-bottom : rgba(51,51,51,1) 1px solid;
			margin-bottom: calc(36px - 12px);
			.BlogBodyNew {
				@extend %newmark;
				// margin-bottom : 12px;
				margin-right: 12px;
			}
			.BlogBodyInfo {
				vertical-align : middle;
				display: flex;
				align-items: center;
				.BlogBodyDate {
					vertical-align : middle;
					display : inline-block;
					font-size : 14px;//16px;
					margin-right : 8px;
				}
				.BlogBodyCat {
					vertical-align : middle;
					display : inline-block;
					margin-left : 6px;
					a {
						display : block;
						font-size : 10px;
						font-weght : 400;
						line-height : 16px;
						padding : 2px 12px;
						-webkit-transition: all 0.35s ease;
						transition: all 0.35s ease;
						&:hover {
							opacity : 0.7;
						}
					}
				}
			}
			.BlogBodyTitle {
				font-size : 20px;//22px;
				font-weight : 500;//300;
			}
		}
		.BlogBodyEntry {
			@media(max-width:799px) {
				word-break: break-all;
			}
			p {
				font-size: 14px;
			}
			img {
				max-width: 100%;
				// max-height: calc( (705px / 3) *2);
				object-fit: scale-down;
				object-position: center;
				line-height: 0;
				margin-bottom: 20px;
				@media(max-width:799px) {
					// max-height: calc( ( ( 100vw - 32px)/3)*2);
				}
			}
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			&__txt {
				font-size: 14px;
				margin-bottom: 20px;
			}
			&__imgs{
				line-height: 0;
				margin-bottom: 20px;
				img {
					max-width : 100%;
					-webkit-transition: all 0.35s ease;
					transition: all 0.35s ease;
				}
				a:hover img {
					opacity : 0.7;
				}
			}
		}
	}

	.BlogSub {
		width : 20%;
		float : right;
		@media(max-width:799px) {
			width : 100%;
			float : none;
		}
		.BlogSideColumn {
			// padding-top : 36px;
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0px;
			}
			.BlogSideTitle {
				font-size : 16px;
				font-weight : 500;
				line-height: 1.0;
				padding-bottom : 16px;
				border-bottom : rgba(51,51,51,1) 1px solid;
				margin-bottom : calc(20px - 8px);
			}
			.BlogSideList {
				font-size : 12px;//13px;
				@media(max-width:799px) {
					font-size: 14px;
				}
				li {
					// margin-top : 20px;
					margin-bottom: 10px;
					&:last-child {
						margin-top : 0;
					}
					a {
						font-size: 12px;
						@media(max-width:799px) {
							font-size: 14px;
						}
					}
				}
			}
			&--recent {
				.BlogSideList {
					li {
						border-bottom: 1px dotted #999;
						padding-bottom: 10px;
						&:last-of-type {
							border-bottom: none;
							margin-bottom: 0;
						}
						@media(max-width:799px) {
							border-bottom: 1px dashed #999;
						}
					}
				}
			}
		}
	}

	.BlogPagenate {
		margin-top : 40px;
		text-align : center;
		vertical-align : top;
		a.page-numbers {
			@extend %btnbak;
			font-weight : 500;
			display : inline-block;
			width : 36px;
			height : 36px;
			text-align : center;
			border-radius : 36px;
			font-size : 14px;
			margin : 0 4px;
			line-height : 36px;
			border : 0;
			outline : 0;
		}
		span.page-numbers {
			@extend %btnbak2;
			font-weight : 500;
			display : inline-block;
			width : 36px;
			height : 36px;
			text-align : center;
			border-radius : 36px;
			font-size : 14px;
			margin : 0 4px;
			line-height : 36px;
			border : 0;
			outline : 0;
		}
	}

	.BlogNavi {
		line-height: 1.0;
		margin-top : 40px;
		text-align : center;
		vertical-align : top;
		div {
			display : inline-block;
			vertical-align : top;
			width : 33.3333%;
			a {
				line-height: 1.8;
				font-size : 12px;
				font-weight : 500;
				display : inline-block;
				&:before {
					@extend %btnbak;
					display : block;
					width : 36px;
					height : 36px;
					text-align : center;
					border-radius : 36px;
					color : #fff;
					font-family : "Icon";
					margin-bottom : 4px;
					font-size : 14px;
					line-height : 36px;
					border : 0;
					outline : 0;
				}
			}
			&.all a:before {
				content : "\f077";
				line-height : 32px;
			}
			&.prev a:before {
				content : "\f053";
			}
			&.next a:before {
				content : "\f054";
			}

		}
	}

}

.BlogRecentList {
	max-width : 800px;
	margin : 0 auto;
	padding-top : 48px;
}
.single_php {
	&:last-of-type {
		padding-bottom: 0;
	}
}
.single-news_php {
	&:last-of-type {
		padding-bottom: 0;
	}
}
.archive_php {
	&:last-of-type {
		padding-bottom: 0;
	}
}
.archive-news_php {
	&:last-of-type {
		padding-bottom: 0;
	}
}